body
{
    padding-top: 60px;
    padding-bottom: 40px;
}

.page-header
  .lead{
  text-align: center;
  font-size: 1.2em;
}

.hero-unit{
  text-align: center;
}

#header-logo{
  text-align: center;
}

#meeting-title{
  text-align: center;
}